<div class="card">
  <div class="card-head">
    <a
      [routerLink]="['details', character.id]"
      [routerLinkActive]="['actived']"
    >
      <div class="card__character-img">
        <img class="character__img" src="{{ character.image }}" />
      </div>
    </a>
  </div>

  <div class="card__body">
    <h3 class="card__character-name">{{ character.name }}</h3>
    <p class="card__text"></p>

    <div class="card__character-data">
      <div class="card__character-status">
        <img
          *ngIf="character.status === 'Alive'"
          class="card__alive-icon"
          src="../../../../assets/icons/alive.png"
        />

        <img
          *ngIf="character.status === 'Dead'"
          class="card__alive-icon"
          src="../../../../assets/icons/skeleton.png"
        />

        <span>{{ character.status }}</span>
      </div>

      <div class="card__character-specie">
        <span>{{ character.species }} - {{ character.gender }}</span>
      </div>
    </div>
  </div>

  <div class="card__details">
    <img class="card__detail-icon" src="../../../../assets/icons/oringin.png" />
    <p class="card__detail-title">
      Origin:
      <a class="card__detail-text">{{ character.origin.name }}</a>
    </p>
  </div>

  <div class="card__details">
    <img
      class="card__detail-icon"
      src="../../../../assets/icons/location.png"
    />
    <p class="card__detail-title">
      Location:
      <a class="card__detail-text">{{ character.location.name }}</a>
    </p>
  </div>

  <div class="card__details">
    <img
      class="card__detail-icon"
      src="../../../../assets/icons/chapter.png"
    />
    <p class="card__detail-title">
      Episodes:
      <a class="card__detail-text">{{ character.episode.length }}</a>
    </p>
  </div>
</div>
