.card {
  background: var(--dark-blue-color-card);
  max-width: 350px;
  height: 575px;
  padding: 24px;
  border-radius: 15px;
  box-shadow: 0px 20px 25px 15px rgba(0, 0, 0, 0.05),
    0px 40px 30px 15px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
}

.card__character-img {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.card__character-img:hover::after {
  opacity: 1;
}

.card__character-img .character__img {
  width: 100%;
  display: block;
}

.card__body {
  padding: 23px 0;
  border-bottom: 1px solid var(--grey-line);
  margin-bottom: 15px;
}

.card__character-name {
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card__character-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.card__character-status {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-blue);
}

.card__alive-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.card__details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card__detail-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.card__detail-title {
  color: var(--grey-title);
  font-weight: 400;
}

.card__detail-text {
  color: var(--white);
  text-decoration: none;
}

@media (max-width: 768px) {
  .card {
    max-width: 280px;
    padding: 20px;
  }

  .card__body {
    padding: 20px 0;
    margin-bottom: 10px;
  }

  .card__character-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .card__body,
  .card__details {
    font-size: 15px;
  }
}
