.searchbar {
  background: var(--dark-blue-color);
  height: 30px;
  color: var(--white);
  border-radius: 15px;
  border: solid 1px var(--white);
  text-align: center;
}

.searchbar::placeholder {
  color: var(--white);
  text-align: center;
}

.searchbar:focus {
  outline: solid 2px var(--light-blue-btn);
  border: none;
}
