<div class="character__pager">
  <a
    class="pager__btns"
    [routerLink]="['characters']"
    [routerLinkActive]="['actived']"
    (click)="prevPage()"
    *ngIf="pageNum !== 1"
  >
    <
  </a>

  <a class="empty__button" *ngIf="pageNum === 1"> </a>

  <div class="charaters__pager-container" *ngFor="let page of pages">
    <a
      *ngIf="page <= anotherInfo.pages"
      [ngStyle]="{ color: pageNum === page ? '#00b0c8' : '#fff' }"
      class="characters__pages"
      (click)="goToPage(page)"
      >{{ page }}</a
    >
  </div>

  <a class="empty__button" *ngIf="pageNum === anotherInfo.pages"> </a>

  <a
    class="pager__btns"
    [routerLink]="['characters']"
    [routerLinkActive]="['actived']"
    (click)="nextPage()"
    *ngIf="pageNum !== anotherInfo.pages"
  >
    >
  </a>
</div>
