<section class="home__container">
  <div class="home__img-container">
    <img src="../../../assets/img/Rick and Morty logo.png" class="home__img" />
  </div>

  <p class="home__text">
    This is my application consuming
    <a
      class="home__text-link"
      href="https://rickandmortyapi.com/"
      target="_blank"
      >the rick and morty api</a
    >
  </p>

  <a
    class="home__btn"
    [routerLink]="['characters']"
    [routerLinkActive]="['actived']"
  >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Lets go
  </a>
</section>
