<section class="character__page">
  <div class="characters__container">
    <app-character
      [character]="character"
      *ngFor="let character of characters"
    ></app-character>
  </div>
  <div class="character__pager">
    <a
      class="home__btn"
      [routerLink]="['characters']"
      [routerLinkActive]="['actived']"
      (click)="prevPage()"
      *ngIf="pageNum !== 1"
    >
      Prev. Page
    </a>

    <a
      class="home__btn"
      [routerLink]="['characters']"
      [routerLinkActive]="['actived']"
      (click)="nextPage()"
      *ngIf="pageNum !== 42"
    >
      Next page
    </a>
  </div>
</section>
