.character__page {
  background-color: var(--dark-blue-color);
  overflow: inherit;
  min-height: 100vh;
}

.characters__container {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.character__pager {
  max-width: 700px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.pager__btns {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  color: #00b0c8;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 0.8rem;
  overflow: hidden;
  transition: 0.2s;
  border: solid 2px #00b0c8;
}

.pager__btns:hover {
  border: none;
  color: #255784;
  background: #00b0c8;
}

.empty__button {
  height: 38.7px;
  width: 65.48px;
}

.pager__btns:focus html {
  overflow: initial;
}

.charaters__pager-container {
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.characters__pages {
  padding: 10px 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .characters__container {
    grid-template-columns: 1fr;
  }

  .character__pager {
    max-width: 350px;
  }

  .pager__btns {
    padding: 8px 15px;
  }

  .empty__button {
    height: 34.7px;
    width: 44.7px;
  }

  .characters__pages {
    padding: 8px 15px;
    cursor: pointer;
  }
}
