<div class="footer">
  <div class="footer__items">
    <img class="footer__icon" src="../../../assets/icons/code.png" />
    <p class="footer__title">
      Author: <a class="footer__text">Cristian Solano</a>
    </p>
  </div>

  <div class="footer__items">
    <img class="footer__icon" src="../../../assets/icons/github.png" />
    <p class="footer__title">
      GitHub:
      <a
        class="footer__text footer__link"
        href="https://github.com/cristian727"
        target="_blank"
        >cristian727</a
      >
    </p>
  </div>

  <div class="footer__items">
    <img class="footer__icon" src="../../../assets/icons/flaticon (2).png" />
    <p class="footer__title">
      Icons from:
      <a class="footer__text footer__link" href="https://www.flaticon.com/" target="_blank"
        >Flaticon</a
      >
    </p>
  </div>

  <div class="footer__items">
    <img class="footer__icon" src="../../../assets/icons/api.png" />
    <p class="footer__title">
      API:
      <a class="footer__text footer__link" href="https://rickandmortyapi.com/documentation/" target="_blank"
        >The Rick and Morty API</a
      >
    </p>
  </div>
</div>
