.footer {
  width: 100%;
  height: 50px;
  background-color: var(--dark-blue-color-card);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__items {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.footer__title {
  color: var(--grey-title);
  font-weight: 400;
}

.footer__text {
  color: var(--white);
  text-decoration: none;
}

.footer__link {
  cursor: pointer;
}

.footer__link:hover {
  color: var(--light-blue);
}
